.overlayout{
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #000;
	opacity: 0.3;
}
.window{
	display: none;
	position: fixed;
	left: 50%;
	z-index: 2;
}
.winBar{
	font-size: 12px;
	padding: 8px;
	background: #eee;
}
.winBody{
	background-color: #fff;
	border-top: 1px solid #ddd;
	padding:10px;
}
.winClose{
	font-size: 12px;
	margin: -24px 8px 0 0;
	float: right;
	text-decoration: none;
	color: #abc;
	cursor: pointer;
}
